@use '@angular/material' as mat;
@use './typography' as workspaceTypography;
@use 'hxp-typography' as hxpTypography;
@import './colors';
@import './custom-material-colors';

$primary: mat.m2-define-palette($hy-primary, 700);
$accent: mat.m2-define-palette($hy-neutral, 700);
$warn: mat.m2-define-palette($hy-warn, 600);
$theme: mat.m2-define-light-theme(
    (
        color: (
            primary: $primary,
            accent: $accent,
            warn: $warn,
        ),
        typography: hxpTypography.$typography,
    )
);

$hy-primary-contrast: mat.m2-get-color-from-palette($primary, 'contrast');
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

$color: map-get($theme, color);
$foreground-values: (
    base: mat.m2-get-color-from-palette($hy-primary, 600),
    disabled: mat.m2-get-color-from-palette($hy-neutral, 500),
    disabled-button: mat.m2-get-color-from-palette($hy-neutral, 500),
    disabled-text: mat.m2-get-color-from-palette($hy-neutral, 500),
    secondary-text: mat.m2-get-color-from-palette($hy-neutral, 600),
    icon: mat.m2-get-color-from-palette($hy-neutral, 900),
    icons: mat.m2-get-color-from-palette($hy-neutral, 900),
    text: mat.m2-get-color-from-palette($hy-primary-contrast, 500),
    hint-text: mat.m2-get-color-from-palette($hy-neutral, 500),
);

$background-values: (
    hover: map-get($hy-neutral, 100),
);

$custom-foreground-and-background: (
    foreground: map-merge($foreground, $foreground-values),
    background: map-merge($background, $background-values),
);

$custom-color: (
    color: map-merge($color, $custom-foreground-and-background),
);

$theme: map-merge($theme, $custom-foreground-and-background);
$theme: map-merge($theme, $custom-color);
$theme: add-custom-success-snackbar-color-to-theme($theme, $hy-green, 700);

@include workspaceTypography.typography(hxpTypography.$typography);

@include mat.all-component-typographies();
@include mat.elevation-classes();
@include mat.app-background();
@include mat.all-component-themes($theme);
@include adf-core-theme($theme);
@include adf-breadcrumb-theme($theme);
