@use 'mat-selectors' as ms;
@use 'satori-like-styles' as satori;
@use '@angular/material' as mat;
@use 'hxp-inputs' as hxp-inputs;
@use 'hxp-buttons' as hxp-buttons;
@use '@angular/material/core/tokens/token-definition' as mat-token-definitions;

$primary-palette: map-get($theme, primary);
$accent-palette: map-get($theme, accent);
$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

@mixin hxp-input-variables {
    $defaults: (
        --hxp-input-text-field-focus-outline-color: mat.m2-get-color-from-palette($primary-palette, 700),
        --hxp-input-text-field-outline-color: mat.m2-get-color-from-palette($accent-palette, 500),
        --hxp-input-text-field-input-text-color: mat.m2-get-color-from-palette($accent-palette, 900),
        --hxp-input-text-field-label-color: mat.m2-get-color-from-palette($accent-palette, 600),
    );
    :root {
        @each $name, $value in $defaults {
            #{$name}: #{$value};
        }
    }
}

@include hxp-input-variables;

#{ms.$mat-nav-list-element} {
    #{ms.$mat-list-item} {
        height: 40px !important;
    }
}

#{ms.$mat-accordion-element}.hxp-nav-accordion {
    #{ms.$mat-expansion-panel-body} {
        padding: 0 16px 16px 8px;
    }
}
.hxp-global-mat-select-panel {
    #{ms.$mat-mdc-option} #{ms.$mat-list-item-text} {
        color: satori.$hy-colors-text-default;
        font-size: satori.$hy-font-sizes-20;
    }
}

@function get-color-according-to-background($value) {
    $type: mat-token-definitions.contrast-tone($value, 'false');
    @if $type == 'dark' {
        @return rgba(satori.$hy-colors-text-primary, 0.87);
    } @else {
        @return #fff;
    }
}

@mixin hxp-button-variables {
    $defaults: (
        --hxp-text-button-not-disabled-color: mat.m2-get-color-from-palette($primary-palette, default),
        --hxp-text-button-not-disabled-background-color: transparent,
        --hxp-text-button-disabled: mat.m2-get-color-from-palette($foreground, disabled),
        --hxp-primary-button-not-disabled-color: get-color-according-to-background(mat.m2-get-color-from-palette($primary-palette, default)),
        --hxp-primary-button-not-disabled-background-color: mat.m2-get-color-from-palette($primary-palette, default),
        --hxp-primary-button-disabled-color: mat.m2-get-color-from-palette($foreground, disabled),
        --hxp-primary-button-disabled-background-color: var(--mdc-protected-button-disabled-container-color),
        --hxp-secondary-button-not-disabled-color: mat.m2-get-color-from-palette($primary-palette, default),
        --hxp-secondary-button-not-disabled-background-color: map-get($background, card),
        --hxp-secondary-button-disabled-color: mat.m2-get-color-from-palette($foreground, disabled),
    );
    :root {
        @each $name, $value in $defaults {
            #{$name}: #{$value};
        }
    }
}

@include hxp-button-variables;

body {
    .adf-start-process-cloud-actions {
        /* stylelint-disable-next-line */
        #cancel_process {
            @include hxp-buttons.hxp-text-button-not-disabled;
        }
        /* stylelint-disable-next-line */
        #cancel_process:disabled {
            @include hxp-buttons.hxp-text-button-disabled;
        }
        .adf-btn-start {
            @include hxp-buttons.hxp-primary-button-not-disabled;
        }
        .adf-btn-start:disabled {
            @include hxp-buttons.hxp-primary-button-disabled;
        }
    }
    .adf-form-mat-card-actions {
        #adf-form-save,
        /* stylelint-disable-next-line */
        #adf-form-new_outcome,
        #adf-cloud-cancel-task,
        .adf-user-task-cloud-claim-btn,
        .adf-user-task-cloud-unclaim-btn {
            @include hxp-buttons.hxp-text-button-not-disabled;
        }

        #adf-form-save:disabled,
        /* stylelint-disable-next-line */
        #adf-form-new_outcome:disabled,
        #adf-cloud-cancel-task:disabled,
        .adf-user-task-cloud-claim-btn:disabled,
        .adf-user-task-cloud-unclaim-btn:disabled {
            @include hxp-buttons.hxp-text-button-disabled;
        }

        #adf-form-complete {
            @include hxp-buttons.hxp-primary-button-not-disabled;
        }
        #adf-form-complete:disabled {
            @include hxp-buttons.hxp-primary-button-disabled;
        }

        .adf-cloud-form-custom-outcome-button {
            @include hxp-buttons.hxp-primary-button-not-disabled;
        }

        .adf-cloud-form-custom-outcome-button:disabled {
            @include hxp-buttons.hxp-primary-button-disabled;
        }
    }
}
