/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './styles/colors';
@use './styles/snack-bar' as snack-bar;
@use 'mat-selectors' as ms;
@use 'satori-like-styles' as satori;
@use 'viewer.theme' as idp-viewer;
@use '@hylandsoftware/satori-ui/theme' as sat;
/* stylelint-disable-next-line scss/load-no-partial-leading-underscore */
@use '_satori-overrides' as sat-overrides;

@import '@alfresco/adf-core/theming';
@import '@alfresco/adf-core/breadcrumbs';
@import './styles/material-theme';
@import './styles/material';
@import './styles/dialog';
@import './styles/components-variables';
@import './styles/isolated-satori';

@include components-variables($theme);
@include mat.typography-hierarchy($theme);

$typography: map-get($theme, typography);

.idp-viewer {
    @include idp-viewer.viewer-theme($theme, $typography);
}

html,
body {
    height: 100%;
    margin: 0;
    @include snack-bar.adf-toasts;
}

.adf-breadcrumb-item {
    display: flex;
    align-items: center;
    padding-right: 2px;
    overflow: hidden;
    color: var(--theme-text-color);
}

$background: map-get($theme, background);
$foreground: map-get($theme, foreground);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);
$primary: map-get($theme, primary);
$hy-text-white: $hy-white;

$defaults: (
    --theme-background-selected-button-color: mat.m2-get-color-from-palette($background, selected-button),
    --theme-background-hover-color: mat.m2-get-color-from-palette($background, hover),
    --theme-background-color: mat.m2-get-color-from-palette($background, background),
    --theme-card-background-color: mat.m2-get-color-from-palette($background, card),
    --theme-text-color: mat.m2-get-color-from-palette($foreground, text),
    --theme-warn-color: mat.m2-get-color-from-palette($warn),
    --theme-primary-color: mat.m2-get-color-from-palette($primary),
    --adf-card-view-background: mat.m2-get-color-from-palette($background, card),
    --adf-card-view-array-item-background: mat.m2-get-color-from-palette($background, card),
    --snack-bar-success-color: mat.m2-get-color-from-palette($background, snack-bar-success),
    --theme-accent-color-a200: mat.m2-get-color-from-palette($accent, A200),
    --theme-secondary-text-color: mat.m2-get-color-from-palette($foreground, secondary-text),
    --theme-colors-mat-blue: mat.m2-get-color-from-palette($primary, 50),
    --mat-menu-divider-bottom-spacing: 16px,
    --mat-menu-divider-top-spacing: 16px,
    --adf-filter-chip-background-color: mat.m2-get-color-from-palette($primary, 100),
    --adf-header-icon-button-hover-color: var(--theme-primary-color),
    --adf-header-icon-button-pressed-color: var(--theme-primary-color),
    --adf-header-icon-button-default-color: var(--theme-primary-color),
    --theme-body-font: 400 14px / 23px var(--theme-font-family),
    --mat-dialog-actions-padding: 16px 24px,
    --theme-colors-mat-grey-dark: mat.m2-get-color-from-palette(mat.$m2-grey-palette, A400),
    --sat-word-mark-logo-color: #191f5e,
);

:root {
    color-scheme: inherit;
    @each $name, $value in $defaults {
        #{$name}: #{$value};
    }
}

hxp-content-repository,
#{ms.$cdk-overlay-pane},
app-experience-workspace {
    #{ms.$mat-checkbox}
        #{ms.$mat-checkbox-native-control}:enabled:not(:checked):not(:indeterminate):not([data-indeterminate='true'])
        ~ #{ms.$mat-checkbox-background} {
        border-color: satori.$hy-colors-border-default;
    }
}

.hxp-document-category-filter-list,
.hxp-governance-multi-selection-filter-list {
    #{ms.$mat-list-option}
        #{ms.$mat-checkbox-inner-container}
        #{ms.$mat-checkbox-native-control}:enabled:not(:checked):not(:indeterminate):not([data-indeterminate='true'])
        ~ #{ms.$mat-checkbox-background} {
        border-color: satori.$hy-colors-border-default;
    }
}

adf-context-menu {
    #{ms.$mat-menu-panel} {
        box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
    }
}

.adf-cloud-process-header,
hxp-properties-viewer-container {
    .adf-property {
        .adf-property-value#{ms.$mat-text-field-input} {
            color: var(--adf-metadata-property-panel-title-color);
        }
    }
}

#adf-cloud-cancel-task {
    color: var(--theme-primary-color);
}

// TODO: Remove this as a part of a https://hyland.atlassian.net/browse/CSX-10 cleanup task
adf-feature-flags-overrides {
    #{ms.$mdc-text-field--filled}:not(#{ms.$mdc-text-field--disabled}) {
        background-color: transparent;

        #{ms.$mat-mdc-form-field-focus-overlay} {
            background-color: transparent;
        }
    }
}

.idp-screens-root-container {
    /* stylelint-disable-next-line no-invalid-position-at-import-rule */
    @import './styles/idp-styles/idp-theme';

    @include mat.all-component-colors($idp-theme);
    @include idp-screens-overrides();
}
